<!DOCTYPE html>
<html>
    <head>
    <script src="jquery-1.12.3.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="jquery.tmpl.min.js"></script>
	<link rel="stylesheet" href="../../css/1.7/normalize.css" />
	<link rel="stylesheet" href="../../css/1.7/ion.rangeSlider.css" />
	<link rel="stylesheet" href="../../css/1.7/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="../../css/1.7/paygreenInsites.css" />
        <meta charset="utf-8" />
        <title>Titre</title>
        <script id="ImageTemplate" type="text/x-jQuery-tmpl">
            	{{each asso}}<a class="assoc ${id} " data-id="${$value.assosciationId}"><div class="imgAssoc" style="background-image:url(${$value.imageUrl})"></div><br><span>${$value.name}</span></a>{{/each}}
		</script>
    </head>
    <script type="text/javascript">
    $(document).ready(function() {
    	var params = {
    			"id" : "1",
    			"amount": "10.2",
    			"asso": [
    				{"associationId": "1", "name": "Asso6", "imageUrl": "http://localhost:8017/modules/paygreen/views/img/icons/association1.jpg"},
    				{"associationId": "2", "name": "eeeeeeeeeeeeeeeeeeeeeeeeee", "imageUrl": "http://localhost:8017/modules/paygreen/views/img/icons/association2.jpg"},
    				{"associationId": "3", "name": "La Croix Rouge", "imageUrl": "http://localhost:8017/modules/paygreen/views/img/icons/association3.jpg"}
    			],
    			"module": "prestashop"
    		};
		$("#ImageTemplate").tmpl(params).appendTo(".overlay");
	});
	</script>
    <body>
    <div class="overlay">

    </div> 
    </body>
</html>